<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>

    <ng-container *ngIf="user$ | async as user; else loginIcon">

      <app-profile-card [user]="user" (logoutClick)="logout()">
      </app-profile-card>

    </ng-container>
    <ng-template #loginIcon>
      <button mat-icon-button (click)="login()" matTooltip="Login">
        <mat-icon aria-hidden="false" aria-label="Login">
          fingerprint
        </mat-icon>
      </button>
    </ng-template>

    <button mat-button routerLink="/jogo" matTooltip="Jogo da velha">
      Jogo da Véia
    </button>

    <span class="espaco"></span>


    <button id="btnCompartilhar" mat-raised-button color="primary" (click)="compartilhar()">
      Convidar Jogador
      <span class="espaco"></span>
      <mat-icon>share</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<input type="hidden" id="mobileORdescktop" value="true">
<button *ngIf="showButton" (click)="installPwa()" mat-raised-button color="accent" mat-button>Intalar App</button>
