<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/jogo" matTooltip="Jogo da velha">
      Jogo da Véia
    </button>
    <span class="spacer"></span>
    <ng-container *ngIf="user$ | async as user; else loginIcon">

      <app-profile-card [user]="user" (logoutClick)="logout()">
      </app-profile-card>

    </ng-container>
    <ng-template #loginIcon>
      <button mat-icon-button (click)="login()" matTooltip="Login">
        <mat-icon aria-hidden="false" aria-label="Login">
          fingerprint
        </mat-icon>
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<input type="hidden" id="mobileORdescktop" value="true">
<button *ngIf="showButton" (click)="installPwa()" mat-raised-button color="accent" mat-button>Intalar App</button>
